@import url('style_border.css');
.box1 {
	border-color: #FFFFFF;
	border-width: 4px;
	border-style: ridge;
	padding: 2px;
}
.box2 {
	border-color: #FFFFFF;
	border-width: 2px;
	border-style: groove;
	padding: 2px;
}
.dataBox {
	border-color: #FFFFFF;
	border-width: 2px;
	border-style: groove;
	padding: 2px;
}
.head1 {
	font-size:xx-large;
	font-weight:bold;
}
.head2 {
	font-size:x-large;
	font-weight:bold;
}
.head3 {
	font-size:large;
	font-weight:bold;
}
.head4 {
	font-size:medium;
	font-weight:bold;
}
.head5 {
	font-size:small;
	font-weight:bold;
}

.mainContent {
	background-color: #9F9F9F;
	background-image: url("images/bin_bground.gif");
	/*background-position: 50% 50%;
	background-repeat: no-repeat;*/
	color: #000000;
	font-size: medium;
	font-family: serif;
	padding: 0 0 0 5px;
	text-align: center;
}
A:link {
	color: #000000;
	text-decoration: underline;
}
A:visited {
	color: #000000;
	text-decoration: underline;
}
A:hover {
	color: #000000;
	text-decoration: none;
}
body { 
	background-color: #808080;
	text-align:center;
}
img {
	border-width: 0px;
}
hr {
	width:85%;
}

td.border_tlc {		
	background-image: url("images/top_left_corner.gif");
	background-repeat: no-repeat;
	width:15px;
	height:15px;
}
td.border_trc {
	background-image: url("images/top_right_corner.gif");
	background-repeat: no-repeat;
	width:15px;
	height:15px;
}
td.border_blc {
	background-image: url("images/bottom_left_corner.gif");
	background-repeat: no-repeat;
	width:15px;
	height:15px;
}
td.border_brc {
	background-image: url("images/bottom_right_corner.gif");
	background-repeat: no-repeat;
	width:15px;
	height:15px;
}

td.border_tb {		
	background-image: url("images/top_border.gif");
	background-repeat: repeat-x;
	height:15px;
}
td.border_lb {
	background-image: url("images/left_border.gif");
	background-repeat: repeat-y;
	width:15px;
}
td.border_rb {
	background-image: url("images/right_border.gif");
	background-repeat: repeat-y;
	width:15px;
}
td.border_bb {
	background-image: url("images/bottom_border.gif");
	background-repeat: repeat-x;
	height:15px;
}

