<table>
<thead>
	<tr>
		<td></td>
		<td>Week</td>
		<td>Gametime</td>
		<td class="right">Away Team</td>
		<td class="center">Score</td>
		<td class="center">Score</td>
		<td class="left">Home Team</td>
		<td class="center">Bowl</td>
		<td></td>
	</tr>
</thead>
<% @items.each do |@item| %>
	<tr id="item<%= @item.id %>" style="text-align:left;">
		<%= render :partial => "item" %>
	</tr>
<% end %>
</table>
