td.bt {
	border-top:1px #666 solid;
}
td.br {
	border-right:1px #666 solid;
}
td.bb {
	border-bottom:1px #666 solid;
}
td.bl {
	border-left:1px #666 solid;
}
td.colhead {
	border-bottom:3px #666 double;
}
td.ball {
	border:1px #666 double;
}
td.bcell {
	border-color: #999;
}

thead {
	text-decoration:underline;
}
td.sorted {
	background-color: #ccc;
}
td.center {
	text-align:center;
}
td.left {
	text-align:left;
}
td.right {
	text-align:right;
}
