td.bt {
	border-top:1px solid #666;
}
td.br {
	border-right:1px solid #666;
}
td.bb {
	border-bottom:1px solid #666;
}
td.bl {
	border-left:1px solid #666;
}
td.colhead {
	border-bottom:3px double #666;
}
td.ball {
	border:1px solid #666;
}
td.bcell {
	border-color: #999;
}

thead {
	text-decoration:underline;
}
td.sorted {
	background-color: #ccc;
}
td.center {
	text-align:center;
}
td.left {
	text-align:left;
}
td.right {
	text-align:right;
}
