<div id="name">
  Fill in your username and click Submit to have a new password generated and emailed to you.
</div><br />
<div id="name" style="text-align:center;">
  <%= form_tag( forgot_password_user_path, :method=>:put) do %>
    <%= text_field_tag "username",nil,:placeholder=>"Enter login name" %><br />
    <%= submit_tag "Submit" %>
  <% end %>
</div>
