<div id="item_new" style="margin:0 2em">
	<%= render_component :action=>"new",:params=>{:component=>true} %>
</div><br />
<hr />
<div id="espn_div" style="margin:0 2em">
	<%= link_to "Update All Teams From ESPN",:action=>"update_from_espn" %>&nbsp;
	<%= link_to "With Logos",:action=>"update_from_espn",:logo=>true %>
</div>
<hr />
<div id="item_list">
	<%= render_component :action => "list",:params => {"component" => true} %>
</div>
