<div class="Article">
  <div class="ArticleHeader">
    <%= content_for :article_title %>
  </div>
  <div class="ArticleLongContent">
    <div class="ArticleBody">
      <%= yield %>
    </div>
  </div>
  <div class="ArticleFooter">
    <div class="ArticleFooterBody"></div>
  </div>
</div>
