<div class="Article">
  <div class="ArticleHeader">Game Options</div>
  <div class="ArticleBody">
    <ul>
      <li><%= link_to "Weekly Scores",:controller=>"/score",:action=>"show" %></li>
      <li><%= link_to "Browse Teams",:controller=>"/team" %></li>
    </ul>
  </div>
  <div class="ArticleFooter">
    <div class="ArticleFooterBody"></div>
  </div>
</div>
