<% set_content_for :article_title, 'Game' %>
<ul>
  <li><%= link_to "Make Picks", edit_picks_path %></li>
  <li><%= link_to "Past Picks", picks_path %></li>
  <li><%= link_to "Weekly Scores",:controller=>"/score",:action=>"show" %></li>
  <li><%= link_to "Browse Teams",:controller=>"/team" %></li>
</ul>
