<div id="item_new" style="margin-left:2em">
  <%= render :partial=>"edit", :locals=>{:item=>@item, :games=>@games} %>
</div>
<br />
<hr />
<div id="item_index">
  <%= render :partial=>"index",:locals=>{:items=>@items} %>
</div>
