<div id="name">
  Fill in your username and click Submit to have a new password generated and emailed to you.
</div><br />
<div id="name" style="text-align:center;">
  <%= form_tag do -%>
    <%= text_field_tag "username","",:size=>15 %><br />
    <%= submit_tag "Submit" %>
  <% end -%>
</div>
