<%= form_remote_tag :url=>{:action=>"update"}, :update => "listbox" do %>
  <table class="editbox" style="margin:0 auto;">

    <%= @content_for_layout %>

    <tr>
      <td>
      </td>
      <td>
        <%= submit_tag "Create New" %>
      </td>
    </tr>
  </table>
<% end %>
