<table style="width:100%">
  <thead>
    <tr>
      <td></td>
      <td>Lastname</td>
      <td>Firstname</td>
      <td>Login</td>
      <td>Email</td>
      <td class="center">Alerts</td>
      <td class="center">Admin</td>
      <td class="center">Set New<br />Password</td>
      <td></td>
    </tr>
  </thead>
  <% @items.each do |@item| %>
    <tr id="item<%= @item.id %>" style="text-align:left;">
      <%= render :partial => "item" %>
    </tr>
  <% end %>
</table>
