<%= form_tag({ :action => "upload_image"},{:multipart=>true}) do %>
  <table class="editbox">
    <tr>
      <td class="label">Upload Image</td>
      <td><%= file_field_tag "logofile" %></td>
      <td rowspan="2"><%= submit_tag "Go!" %></td>
    </tr>
    <tr >
      <td class="label">To File</td>
      <td><%= text_field_tag "filename","someteam.gif" %></td>
    </tr>
  </table>
<% end %>
