<table style="width:100%">
  <thead>
    <tr>
      <td></td>
      <td>Location + Name</td>
      <td>Image</td>
      <td>Conference</td>
      <td>Rank<br />(AP/USA)</td>
      <td>Record</td>
      <td></td>
    </tr>
  </thead>
  <% @items.each do |@item| %>
    <tr id="item<%= @item.id %>" style="text-align:left;">
      <%= render :partial => "item" %>
    </tr>
  <% end %>
</table>